.moreItem {
    position: relative;
}

.moreItem>div {
    position: absolute;
    right: 0;
    top: 40px;
    width: 200px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: none;
    z-index: 999;
}

.moreItem:hover>div {
    display: block;
}

.moreDetails>div {
    /* position: relative; */
}

.moreDetails>div>div {
    position: absolute;
    right: 15px;
    top: 75px;
    width: 680px;
    padding: 25px 15px;
    background: #F5F9F8;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid #E4FFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    z-index: 999;
}